:root {
  --bg-default: #b6b6b6;
  --bg-side-bar: #000000cc;
  --bg-menu-item-active: #b6b6b6;
  --height-menu-bar: 40px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-default);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
